body{
	color: #777777;
	background-image: url("");
	border-color: #dddddd;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/magicBall.png");
    background-repeat: no-repeat;
    background-color: #ffcfbc;    	
}
.mainHeader{
	columns: 
}
#game{
	text-align: left;
}
#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;	
}
