* {
    margin: 0;
}

html,
body {
    color: #777777;
    border-color: #dddddd;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/magicBall.png");
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: #ffcfbc;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.mainHeader {
    columns:
}

#game {
    text-align: left;
}

#container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.footer,
.push {
    height: 4em;
    text-align: center;
}